body{
background-image: url(background.png);
background-size: cover;
    }
    input{
     background-color: orange;
     border-radius: 20%;
     margin-top: 50px;
    }
    button{
        background-color: orange;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .bottomthing{
        margin-top: 350px;
    }
    p{
        color: #e4d8a5;
    }
